{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_list %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="/admin/comandos/">Gestão de estoque</a>
    &rsaquo; Relatório de estoque
    </div>
{% endblock %}

{% block content %}
    <h1>Insira ip e comando a ser enviado:</h1>
    <form id="to_report">
        <strong>IP:PORTA</strong>
        <input id='ip'>
        <br>
        <strong>Comando</strong>
        <select id ='command'>
            <option value='trancar'>trancar</option>
            <option value='destrancar'>destrancar</option>
        </select>
        <div class="submit-row">
          <input type="submit" value="Enviar" id="report">
        </div>
    </form>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
      $("#report").click(function() {
        $("#to_report").attr("action", "http://"+$("#ip").val()+'/'+$("#command").val()+'/').submit();
      });
    </script>
{% endblock %}
